body {
    font-family: Arial, Helvetica, sans-serif;

}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;

}

.navbar-nav {
    gap: 6px;
    padding-left: 30px;
    margin: 1em;
    font-weight: 550;
}

.btn {
    margin-right: 4em;
    border: 1px solid;
    text-align: center;
    color: rgb(182, 9, 9);
    margin-left: 2rem;
}

.btn:hover {
    background-color: red;
    color: #fff;
    font-weight: bold;
    border: 1px solid black;
}

header {
    background: url('image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 5em;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 3px 2px #ffec00;
}


.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.carousel-item {
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.carousel-item img {
    width: 100%;
    height: 60vh;
}

footer {
    background-color: rgb(231, 226, 226);
}